.XmRadio {
  cursor: pointer;
  margin: 0 .5em;

  &:active, &:hover {
    .XmRadio__wrapper {
      border: 1px solid $primary;
    }

    .XmRadio__label {
      color: $primary;
    }
  }

  input {
    height:     0;
    width:      0;
    visibility: hidden;

  }

  .XmRadio__wrapper {
    position:      relative;
    display:       inline-block;
    height:        16px;
    width:         16px;
    border:        1px solid $edge;
    border-radius: 50%;
    transition:    .3s;

    .XmRadio__inner {
      position:         absolute;
      display:          inline-block;
      width:            10px;
      height:           10px;
      background-color: darken($primary, 30%);
      border-radius:    50%;
      top:              50%;
      left:             50%;
      transform:        translate(-50%, -50%);
    }
  }

  .checked {
    border: 1px solid $primary;

    + .XmRadio__label {
      color: $primary;
    }
  }

  .XmRadio__label {
    vertical-align: .1em;
    display:        inline-block;
    margin-left:    .3em;
  }

}

.border {
  padding:       .3em .6em;
  border:        1px solid $edge;
  border-radius: 3px;
  transition:    .3s;

  &:hover {
    border: 1px solid $primary;
  }
}
