.XmCheckboxGroup {

}

.medium {
  .XmCheckbox {
    margin:    0 .3em;
    font-size: $standard * 1.15;
  }
}

.small {
  .XmCheckbox {
    margin:    0 .3em;
    font-size: $standard * 1.05;
  }
}

.mini {
  .XmCheckbox {
    margin:    0 .3em;
    font-size: $standard * .95;
  }
}